<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loanwolf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Messaging"></activity>
        <activity android:name=".OpenLoans" />
        <activity android:name=".NewReview" />
        <activity android:name=".LoanAgreement" />
        <activity android:name=".ProfileResume" />
        <activity android:name=".ViewProfile" />
        <activity android:name=".Search" />
        <activity android:name=".test01" />
        <activity android:name=".EditProfile" />
        <activity android:name=".Home" />
        <activity android:name=".depositWithdraw" />
        <activity android:name=".Profile" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>